# Ignore environment variables
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore local dev files
*.log
*.sqlite3

# Ignore system files
.DS_Store

# Ignore deployment keys or credentials
*.pem
*.key
